$fontColor: #2a2a2a;
$btnFontColor: rgb(15, 120, 168);
$btnBackgroundColor: rgba(15, 120, 168, 0.1);
$greyColor: #ccc;
$darkGreyColor: #999;
$whiteColor: #ffffff;
$accordionHeaderColor: #eee;

$backgroundColor: white;

// $mintPallette1: #91D4D1;
// $mintPallette2: #6FB9B9;
// $mintPallette3: #205566;
// $mintPallette4: #69587B;
// $mintPallette5: #F16A6F;
// $mintPallette6: #FEA889;

// $greycolor1: #E8E9EB;
// $greycolor2: #CCCDC6;
// $greycolor3: #BBBCB6;
// $greycolor4: #ACADA8;
// $greycolor5: #746D69;

$timingFunction: 250ms cubic-bezier(0, 0, 0.2, 1);